### Java template
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Created by .ignore support plugin (hsz.mobi)
/NMSUtils-plugin/server/
.idea/libraries/Maven__org_spigotmc_spigot_api_1_9_4_R0_1_SNAPSHOT.xml
.idea/workspace.xml
.settings/
NMSUtils-API/.classpath
NMSUtils-API/.project
NMSUtils-API/.settings/
NMSUtils-API/src/test/
NMSUtils-API/target/
NMSUtils-plugin/.settings/
NMSUtils-plugin/src/
NMSUtils-plugin/target/
NMSUtils-v1_11_R1/target/
NMSUtils-v1_10_R1/target/
NMSUtils-v1_9_R1/.settings/
NMSUtils-v1_9_R1/target/
NMSUtils-v1_9_R2/target/
SpigotMCRunner/src/
SpigotMCRunner/target/
src/
pom.xml~
